<%-include('./partials/header') %>
    <%-include('./partials/navbar') %>
        <div class="container" style="margin-top:5.5rem !important;">
            <div class="row py-5 justify-content-center align-items-center  text-center">
                <div class="col-md-9">
                    <h2 class="main-title text-success">
                        Hi! I'm Adnan Malik
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quasi quidem  Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, placeat?
                    </p>
                    <p>iste sapiente iusto quia ut quos ullam saepe! Mollitia, unde corrupti sed sint obcaecati dolor perferendis officiis architecto. Necessitatibus quod, ad aliquam alias repellendus culpa error accusamus consequatur magni quae molestiae quos in aperiam itaque labore quaerat iure mollitia.</p>
                </div>
                <div class="col-md-3">
                    <!-- Put this code anywhere in the body of your page where you want the badge to show up. -->

                    <div onload="loading()" itemscope itemtype='http://schema.org/Person' class='fiverr-seller-widget'
                        style='display: inline-block;'>
                        <a itemprop='url' href=https://www.fiverr.com/adnan__malik rel="nofollow" target="_blank"
                            style='display: inline-block;'>
                            <div class='fiverr-seller-content'
                                id='fiverr-seller-widget-content-1376d0e6-783d-495e-b0c6-e10e8fe2c839'
                                itemprop='contentURL' style='display: none;'></div>
                            <div id='fiverr-widget-seller-data' style='display: none;'>
                                <div itemprop='name'>adnan__malik</div>
                                <div itemscope itemtype='http://schema.org/Organization'><span
                                        itemprop='name'>Fiverr</span></div>
                                <div itemprop='jobtitle'>Seller</div>
                                <div itemprop='description'>Want to grow business worth with some attractive, modern
                                    designs? You’re in the right place..
                                    I’m a Professional Designer with 2 years+ experience doing logos/ visiting cards/
                                    app store screenshots/ Flyers and much more.
                                    I have been working at different software houses and societies as a Graphic
                                    Designer.
                                    Looking for creative mind, just hit the Contact button! Cheers!
                                </div>
                            </div>
                        </a>
                    </div>

                    

                </div>
            </div>
        </div>
        <%-include('./partials/footer') %>
<%-include('./partials/fiverJs') %>
