<%-include('./partials/header') %>
    <%-include('./partials/navbar') %>
<div style="margin-top:5.3rem !important; " class="p-relative">
    <img src="/assets/contact.jpg" alt="contact dsocial-logo" class="single-post-img enhance-img" >
                <div class="container move-up" >

                    <section class="section1 clearfix">
                        <div class="textcenter">
                            <span class="shtext">Get in Touch!</span>
                            <span class="seperator"></span>
                            <h1>Drop Us a Mail</h1>
                        </div>
                    </section>

                    <section class="section2 clearfix d-flex">
                        <span class="col-hide">
                            <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d109120.73713746766!2d72.2659246334513!3d31.2754580268242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3923a2a1b138cbc3%3A0xded4c1b9259211a1!2sJhang%2C%20Punjab%2C%20Pakistan!5e0!3m2!1sen!2s!4v1657026363960!5m2!1sen!2s" width="600" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                        </span>
                        <div class="col2 column2 last p-3">
                            <div class="sec2innercont">
                                <div class="sec2addr">
                                    <p><span class="collig">Address :</span> Jhang, Punjab Pakistan</p>
                                    <p><span class="collig">Phone :</span> +92 3089023002</p>
                                    <p><span class="collig">Email :</span> example@gmail.com</p>
                                </div>
                            </div>
                            <div class="sec2contactform">
                                <h3 class="sec2frmtitle">Leave a Message</h3>
                                <form action="/contact" method="post" id="contactForm">
                                    <div class="clearfix">
                                        <input class="col2 first" name="fname" type="text" placeholder="FirstName" required>
                                        <input class="col2 last" name="lname" type="text" placeholder="LastName" required>
                                    </div>
                                    <div class="clearfix">
                                        <input class="col2 first"
                                        pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
                                        title="Enter a valid email address!"
                                         name="email" type="Email" placeholder="Email" required>
                                        <input class="col2 last" name="phone" type="text" placeholder="Contact Number" required>
                                    </div>
                                    <div class="clearfix">
                                        <textarea required name="message" id="" cols="30" minlength="20" title="Enter minimum 20 charactrers!"
                                            rows="7">Your message here...</textarea>
                                    </div>
                                    <div class="clearfix"><input type="submit" value="Send"></div>
                                </form>
                            </div>

                        </div>
                    </section>

                </div>
        </div>


<%-include('./partials/footer') %>
