</head>

<body >
    <div id="loader" style="height:4000px;">
        <div class="d-flex justify-content-center text-primary" >
            <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
              <span class="sr-only" >Loading...</span>
            </div>
          </div>
</div>
<main id="page-top" style="min-height:100vh;">
<div id="wrapper">

    <!-- Sidebar -->
    <!-- Sidebar -->
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center bg-white" href="/">
            <img src="/assets/dsocial-logo.svg" alt="dSocial" class="img-fluid">
          
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/users/dashboard">
                <i class="fa fa-tachometer" aria-hidden="true"></i> 
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Posts
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo">
                <i class="fa fa-file-text" aria-hidden="true"></i>
                <span>Posts</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">View Posts:</h6>
                    <a class="collapse-item" href="/posts/view/approved">Approved Posts</a>
                    <a class="collapse-item" href="/posts/view/pending">Pending Posts</a>
                </div>
            </div>
        </li>

        

        <!-- Divider -->
        <hr class="sidebar-divider">

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <span> Utility</span>
            </a>
            <div id="collapseUtilities" class="collapse p-relative"  aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded" >
                    <h6 class="collapse-header">Posts Actions:</h6>
                    <a class="collapse-item" href="/posts/create">Create Post</a>
                    
                </div>
            </div>
        </li>
         <!-- Nav Item - Tables -->
         <li class="nav-item">
            <a class="nav-link" href="/posts/view/all">
                <i class="fa fa-table"></i>
                <span>All Post</span></a>
        </li>
       <% if (user.email=='madnanmushtaq000@gmail.com') { %>
            <!-- Divider -->
        <hr class="sidebar-divider">

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#management"
                aria-expanded="true" aria-controls="management">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <span> Admin Controls</span>
            </a>
            <div id="management" class="collapse p-relative"  aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded" >
                    <h6 class="collapse-header">Posts Actions:</h6>
                    <a class="collapse-item" href="/admin/manage/posts">
                        <i class="fa fa-files-o  text-gray-600  fa-lg " aria-hidden="true"></i> &nbsp;Manage Posts
                    </a>
                    <a class="collapse-item" href="/admin/manage/users">
                         <i class="fa fa-users  text-gray-600 fa-lg aria-hidden="true"></i> &nbsp;Manage Users
                    </a>
                    
                </div>
            </div>
        </li>

       <% } %>  
        
      

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Sidebar Message -->
            <!-- Sidebar Message -->
        <div class="sidebar-card d-none d-lg-flex bg-transparent">
            <a class="btn btn-success btn-cricle  d-block" href="/">
                <i class="fa fa-lg fa-arrow-circle-o-left" aria-hidden="true"></i>
            </a>
        </div>

    </ul>
    <!-- End of Sidebar -->
    
    
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand /users/dashboard/createght bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form method="get" action="/posts/view/all"
                    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" value="<%=locals.search%>" name="search" id="search" class="form-control bg-light border-0 small" placeholder="Search post..."
                            aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                            aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                        placeholder="Search for..." aria-label="Search"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                Alerts Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fa fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 12, 2019</div>
                                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="fa fa-donate text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 7, 2019</div>
                                    $290.29 has been deposited into your account!
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-warning">
                                        <i class="fa fa-exclamation-triangle text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 2, 2019</div>
                                    Spending Alert: We've noticed unusually high spending for your account.
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                    </li>

                    

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                <%=user.name%> 
                            </span>
                            <img class="img-profile rounded-circle" referrerpolicy="no-referrer"
                                src="<%=user.picUrl%>">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="/users/dashboard/profile">
                                <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            
                            <a class="dropdown-item" href="#">
                                <i class="fa fa-trash fa-sm fa-fw mr-2 text-gray-400"></i>
                                Delete Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

<!-- toast messages -->



            <!-- Begin Page Content -->
 <div class="container-fluid">
